@import './settings/_settings';

.login_page {
    background-color: $bg-color;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    form {
        width: 400px;
        background-color: $white;
        padding: 20px 10px;

        h3 {
            font-size: 26px;
            color: #222222;
            text-align: center;
            margin-bottom: 20px;
        }

        .form_group {
            margin-bottom: 20px;

            label {
                font-size: 12px;
                margin-bottom: 6px;
                display: block;
            }

            input {
                // padding: 20px 10px;
                height: 35px;
                width: -webkit-fill-available;
                padding: 0 10px;
                border: none;
                font-size: 12px;
                background-color: #eee;
                color: #888;
                outline: none;
                font-family: "Poppins", sans-serif;
                font-weight: 400;
            }

        }

        button {
            background-color: $primary-color;
            border-radius: 5px;
            border: none;
            width: 100%;
            color: $white;
            height: 35px;
            cursor: pointer;

            &:hover {
                background-color: #0eb0a7;
            }
        }

        @media screen and (max-width: 768px) {
            width: 100%;
            margin: 0 10px;
        }
    }
}

.todo_main {
    max-width: 480px;
    margin: 20px auto;

    h2 {
        font-size: 26px;
        color: #222222;
        text-align: center;
        margin-bottom: 20px;
    }

    .todo_lists {
        .todo_lists_item {
            list-style: none;
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .todo_lists_item_text {
                color: #222222;
                font-size: 14px;
            }

            .completed {
                color: green;
                text-decoration: line-through;
            }

            .complete_btn {
                background-color: $bg-color;
                border-radius: 4px;
                border: 3px;
                height: 35px;
                padding: 0 10px;
                margin-left: 5px;
                cursor: pointer;
                transition: .5s;
                color: #222222;

                &:hover {
                    background-color: $primary-color;
                    color: $white;
                }
            }

            .edit_delete_btn {
                height: 35px;
                width: 35px;
                background-color: $bg-color;
                border-radius: 4px;
                border: 3px;
                margin-left: 5px;
                cursor: pointer;
                transition: .5s;
                color: #222222;

                &:hover {
                    background-color: $primary-color;
                    color: $white;
                }
            }
        }
    }

    .add_todo_form {
        display: flex;

        input {
            height: 35px;
            width: -webkit-fill-available;
            padding: 0 10px;
            border: none;
            font-size: 12px;
            background-color: #eee;
            color: #888;
            outline: none;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
        }
    }

    @media only screen and (min-width: 320px) and (max-width: 480px) {
        margin: 0 10px;

        h2 {
            font-size: 22px;
            margin-bottom: 10px;
            margin-top: 20px;
        }
    }

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        margin: 0 auto;
    }
}