.container {
  max-width: 1300px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;

}

.header_main {
  background-color: #DAF5E8;
  padding: 12px 0;

  .header {
    .todo_logo {
      font-size: 22px;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 12px 10px;
  }

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .header {
      flex-direction: column;

      .todo_logo {
        width: 100%;
        font-size: 20px;
        text-align: center;
        margin-bottom: 0;
      }
      .todo_right {
        width: 100%;
        justify-content: center;
      }
    }
  }
}

.w-30 {
  width: 30%;
}

.w-70 {
  width: 70%;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.logout_btn {
  background-color: #20B2AA;
  border-radius: 5px;
  border: none;
  width: auto;
  color: #ffffff;
  padding: 0 20px;
  height: 35px;
  cursor: pointer;
  margin-left: 10px;

  &:hover {
    background-color: #0eb0a7;
  }
}

.border-none {
  border: none;
}

.transparent {
  background: transparent;
}

.common_btn {
  background-color: #20B2AA;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 0 20px;
  height: 35px;
  cursor: pointer;
}

.common_btn:hover {
  background-color: #0eb0a7;
}